TELEGRAM_BOT_TOKEN=8407546515:AAGqerh7W4qpNr9BfcuUmqHNwDn2ydOuK6w
TELEGRAM_CHANNEL_ID=-1002113815036
ADMIN_PASSWORD=super-secret
ADMIN_JWT_SECRET=startupsprint-secret
PORT=4000
# Можно указать несколько origin через запятую (dev + прод).
CLIENT_ORIGIN=http://localhost:5173,https://startupsprint.vercel.app

# Vite переменные (frontend)
VITE_API_URL=https://startupsprint-952zr55hv-azat-vadzhipovs-projects.vercel.app
VITE_MOCK_TELEGRAM_ID=99999

# Для Vercel/серверлесов
DATA_DIR=/tmp/startupsprint-data

